main {
    width: 100%;
}

main #allRecepies {
    height: 80vh;
    background-color: aqua;
}

main #favoriteRecepie {
    height: 80vh;
    width: 100%;
    background-color: rgb(210, 223, 154);
}

main #createRecepie {
    height: 80vh;
    background-color: rgb(112, 118, 184);
}

main #myProfile {
    height: 80vh;
    background-color: rgb(0, 255, 89);
}

main #errorPage {
    height: 80vh;
    background-color: red;
}

header a {
    text-decoration: none;
}

.container {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.card {
    background-color: rgb(167, 112, 45);
    width: 180px;
    margin: 10px;
}

.fav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    gap: 10px;
}

#newRecipe {
    background-color: coral;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

#newProfileInfo {
    background-color: coral;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}